# Entorno virtual
venv_churn/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos grandes o datasets generados
data/processed/*
!data/processed/datos_telecomx.csv   # <-- la excepción
data/raw/*
*.pkl
*.so
*.log

# Archivos de sistema
.DS_Store
